*.log
uwgkm
uwgsocks
uwgsocks.exe
uwgsocks-ui
turn-canoncial.yaml
turn_canonical.yaml
dist/
frontend/dist
frontend/node_modules
*.o
*.out
*.swp
*.key
*.db
*.sock
*.crt
wgui_secrets.json
uwg_canonical.yaml
logs.txt
